<footer>
    <div class="inf navbar-expand-md bg-body-tertiary" style="text-align: center;">
        <div class="social-info" style="width: 100%;">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div style="width: 100%;"> &copy; JK Private Lmtd</div>
        <div class="info-link" style="width: 100%;   text-decoration: non;">
            <a href="/privacy" style="text-decoration: non;">Privacy</a>
            <a href="/terms" style="text-decoration: non;">Terms</a>
        </div>
    </div>
</footer>