<style>
  .search-box{
    margin-left: 3rem;
  }
  .search-btn{
    color: blue;
    border-radius: 25px;
    margin: 0 1rem 0 1rem;
    #search{
      color: blue;
      display: inline;
    }

}
.search-btn:hover{
  background-color: blue;
    color: white;
    #search{
      color: white;
    }

}
.search-input{
  border-radius: 25px;
}
#search{
  /* font-size: 1rem; */
  display: inline;
  margin-right:1rem;
  margin-left: 0.3rem;
}
@media only screen and (max-width: 768px) {
  .search-box{
    margin: 0;
  }
}
</style>



<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-jedi"></i> Junaid Khan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new" aria-disabled="true">Add New</a>
        </li>
        <% if(!currUser){ %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login"><b>Login</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>SignUp</b></a>
          </li>
          <% } %>
          <% if(currUser){ %>
            <li class="nav-item">
              <a class="nav-link" href="/logout" aria-disabled="true"><b>Logout</b></a>
            </li>
            <% } %>
            <div class="search-box">

              <form action="/search" method="get" class="navbar-nav collapse navbar-collapse "id="navbarTogglerDemo02" role="search">
                <input name="location1" class="form-control me-2 search-input" type="search" placeholder="Find Location" aria-label="Search">
                <button class="btn btn-outline-primary search-btn" type="submit"><i id="search" class="fa-solid fa-magnifying-glass-location"></i>Search</button>
              </form>
            </div>
      </ul>
    </div>
  </div>
</nav>