/.env/
./.env/
.env
/node_modules/
./node_modules
../node_modules
node_modules/
.env
dist/
.DS_Store
**/.DS_Store
package-lock.json
/package-lock.json
/package-lock.json/
./package-lock.json
.vscode/
.idx/
Dist/