<body>
    <div class="col-8 offset-2 mt-3">
        <h1>Add New listing</h1>
        <form action="/listings" method="post" class="needs-validation">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter title" required>
                <div class="valid-feedback">Good!</div>
                <div class="invalid-feedback">title shuld be valid!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" name="description"
                    placeholder="Enter description" required></textarea>
                    <div class="valid-feedback">Good!</div>
                    <div class="invalid-feedback">Description should be valid!</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link/Url</label>

                <input type="text" name="image" class="form-control" placeholder="Enter image url/link">
                <div class="valid-feedback">Good!</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="number" class="form-label">Number</label>

                    <input class="form-control" name="price" placeholder="Enter price" required>
                    <div class="valid-feedback">Good!</div>
                    <div class="invalid-feedback">invalid number!</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>

                    <input type="text" name="location" class="form-control" placeholder="Enter location" required>
                    <div class="valid-feedback">Good!</div>
                    <div class="invalid-feedback">invalid location!</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>

                <input type="text" class="form-control" name="country" placeholder="Enter country" required>
            </div>

            <br><br>
            <button class="btn btn-primary">Add</button>
            <br><br>

        </form>
    </div>
</body>

<% layout('/layouts/base') %>